<ion-content [fullscreen]="true" class="usuario-page">
  <header class="topo">
    <h1>Usuário</h1>

    <div class="notificacao">
      <ion-icon name="notifications-outline"></ion-icon>
      <span>5</span>
    </div>
  </header>

  <div class="usuario-info">
    <div class="avatar-container">
      <div class="avatar">
        <ng-container *ngIf="fotoPreview; else avatarPadrao">
          <img [src]="fotoPreview" alt="Foto do usuário" />
        </ng-container>

        <ng-template #avatarPadrao>
          <ion-icon name="person-outline"></ion-icon>
        </ng-template>
      </div>

      <button type="button" class="editar-avatar" (click)="fileInput.click()">
        <ion-icon name="pencil"></ion-icon>
      </button>

      <input
        #fileInput
        type="file"
        accept="image/*"
        hidden
        (change)="selecionarFoto($event)"
      />
    </div>

    <div class="streak">{{ usuario?.diasStreak }} dias de streak</div>
  </div>

  <form
    class="profile-form"
    [formGroup]="perfilForm"
    (ngSubmit)="salvarAlteracoes()"
  >
    <label>Nome</label>
    <input class="campo" type="text" formControlName="nome" placeholder="Usuário" />

    <label>Email</label>
    <input class="campo" type="email" formControlName="email" placeholder="usuario@email.com" readonly />

    <label>Senha</label>
    <input class="campo" type="password" formControlName="senha" placeholder="********" />

    <small class="texto-ajuda">Deixe em branco para manter a senha atual.</small>

    <p class="mensagem" *ngIf="mensagemAcao">{{ mensagemAcao }}</p>

    <ion-button expand="block" class="btn-salvar" type="submit">
      SALVAR ALTERAÇÕES
    </ion-button>

    <ion-button expand="block" class="btn-sair" type="button" (click)="sairConta()">
      SAIR DA CONTA
    </ion-button>

    <ion-button expand="block" class="btn-excluir" type="button" (click)="excluirConta()">
      EXCLUIR CONTA
    </ion-button>
  </form>

  <nav class="bottom-nav">
    <button
      *ngFor="let atalho of atalhosRodape"
      type="button"
      class="nav-item"
      [class.nav-item--active]="atalho.ativo"
      (click)="abrirAtalho(atalho)"
    >
      <ion-icon [name]="atalho.icon"></ion-icon>
      <span>{{ atalho.label }}</span>
    </button>
  </nav>
</ion-content>
